# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/

# Editor
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env*

# Cache
.cache
.parcel-cache

# OS
Thumbs.db

# Agent context
.agent_context/

# Backup
*.bak
.git.backup*
